In [69]:
import sqlite3

conn = sqlite3.connect("demo_customers.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT
);
            
""")
customers = [
    (1,"Alfreds Futterkiste","Maria Anders","Obere Str. 57","Berlin","12209","Germany"),
    (2,"Ana Trujillo Emparedados y helados","Ana Trujillo","Avda. de la Constitución 2222","México D.F.","05021","Mexico"),
    (3,"Antonio Moreno Taquería","Antonio Moreno","Mataderos 2312","México D.F.","05023","Mexico"),
    (4,"Around the Horn","Thomas Hardy","120 Hanover Sq.","London","WA1 1DP","UK"),
    (5,"Berglunds snabbköp","Christina Berglund","Berguvsvägen 8","Luleå","S-958 22","Sweden"),
    (6,"Blauer See Delikatessen","Hanna Moos","Forsterstr. 57","Mannheim","68306","Germany"),
    (7,"Blondel père et fils","Frédérique Citeaux","24, place Kléber","Strasbourg","67000","France"),
    (8,"Bólido Comidas preparadas","Martín Sommer","C/ Araquil, 67","Madrid","28023","Spain"),
    (9,"Bon app","Laurence Lebihans","12, rue des Bouchers","Marseille","13008","France"),
    (10,"Bottom-Dollar Marketse","Elizabeth Lincoln","23 Tsawassen Blvd.","Tsawassen","T2F 8M4","Canada"),
    (11,"Bs Beverages","Victoria Ashworth","Fauntleroy Circus","London","EC2 5NT","UK"),
    (12,"Cactus Comidas para llevar","Patricio Simpson","Cerrito 333","Buenos Aires","1010","Argentina"),
    (13,"Centro comercial Moctezuma","Francisco Chang","Sierras de Granada 9993","México D.F.","05022","Mexico"),
    (14,"Chop-suey Chinese","Yang Wang","Hauptstr. 29","Bern","3012","Switzerland"),
    (15,"Comércio Mineiro","Pedro Afonso","Av. dos Lusíadas, 23","São Paulo","05432-043","Brazil"),
    (16,"Consolidated Holdings","Elizabeth Brown","Berkeley Gardens 12 Brewery","London","WX1 6LT","UK"),
    (17,"Drachenblut Delikatessend","Sven Ottlieb","Walserweg 21","Aachen","52066","Germany"),
    (18,"Du monde entier","Janine Labrune","67, rue des Cinquante Otages","Nantes","44000","France"),
    (19,"Eastern Connection","Ann Devon","35 King George","London","WX3 6FW","UK"),
    (20,"Ernst Handel","Roland Mendel","Kirchgasse 6","Graz","8010","Austria"),
    # … (중간 동일 패턴)
    (91,"Wolski","Zbyszek","ul. Filtrowa 68","Walla","01-012","Poland")
]

cur.executemany("""
INSERT INTO Customers
(CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES (?, ?, ?, ?, ?, ?, ?);
""", customers)

conn.commit()

OperationalError: table Customers already exists

In [ ]:
import sqlite3

conn = sqlite3.connect("demo_customers.db")
cur = conn.cursor()

cur.execute("SELECT * FROM Customers;")
rows = cur.fetchall()

for row in rows:
    print(row)
# conn.close()

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [ ]:
cur.execute("SELECT CustomerName,City FROM Customers;")
rows = cur.fetchall()

for row in rows:
    print(row)

('Alfreds Futterkiste', 'Berlin')
('Ana Trujillo Emparedados y helados', 'México D.F.')
('Antonio Moreno Taquería', 'México D.F.')
('Around the Horn', 'London')
('Berglunds snabbköp', 'Luleå')
('Blauer See Delikatessen', 'Mannheim')
('Blondel père et fils', 'Strasbourg')
('Bólido Comidas preparadas', 'Madrid')
('Bon app', 'Marseille')
('Bottom-Dollar Marketse', 'Tsawassen')
('Bs Beverages', 'London')
('Cactus Comidas para llevar', 'Buenos Aires')
('Centro comercial Moctezuma', 'México D.F.')
('Chop-suey Chinese', 'Bern')
('Comércio Mineiro', 'São Paulo')
('Consolidated Holdings', 'London')
('Drachenblut Delikatessend', 'Aachen')
('Du monde entier', 'Nantes')
('Eastern Connection', 'London')
('Ernst Handel', 'Graz')
('Familia Arquibaldo', 'São Paulo')
('FISSA Fabrica Inter. Salchichas S.A.', 'Madrid')
('Folies gourmandes', 'Lille')
('Folk och fä HB', 'Bräcke')
('Frankenversand', 'München')
('France restauration', 'Nantes')
('Franchi S.p.A.', 'Torino')
('Furia Bacalhau e Frutos do Mar', 'Lisboa')
('Galería del gastrónomo', 'Barcelona')
('Godos Cocina Típica', 'Sevilla')

In [ ]:
cur.execute("SELECT DISTINCT Country FROM Customers;")
rows = cur.fetchall()

for row in rows:
    print(row)

('Germany',)
('Mexico',)
('UK',)
('Sweden',)
('France',)
('Spain',)
('Canada',)
('Argentina',)
('Switzerland',)
('Brazil',)
('Austria',)
('Italy',)
('Portugal',)

In [ ]:
cur.execute("SELECT * FROM Customers WHERE Country='Mexico';")
rows = cur.fetchall()

for row in rows:
    print(row)

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')

In [ ]:
cur.execute("SELECT * FROM Customers WHERE CustomerID=1;")

row = cur.fetchall()

print(row)

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [ ]:
cur.execute("SELECT * FROM Customers WHERE Country='Germany' AND City='Berlin';")

row = cur.fetchall()


print(row)

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [ ]:
cur.execute("SELECT * FROM Customers WHERE City='Berlin' OR City='München' OR PostalCode ='05023' ;")

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')

In [ ]:
cur.execute("SELECT * FROM Customers WHERE NOT Country='Germany' AND Country='Spain';")

rows = cur.fetchall()
print(len(rows))
for row in rows:
    print(row)

4
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [ ]:
cur.execute("SELECT * FROM Customers WHERE Country='Germany' AND (City='Berlin' OR City='München');")

rows = cur.fetchall()
print(len(rows))
for row in rows:
    print(row)

2
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')

In [ ]:
cur.execute("SELECT * FROM Customers ORDER BY Country;")

rows = cur.fetchall()

for row in rows:
    print(row)

(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [ ]:
cur.execute("SELECT * FROM Customers ORDER BY Country DESC;")

rows = cur.fetchall()

for row in rows:
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')

In [ ]:
cur.execute("SELECT * FROM Customers ORDER BY Country, CustomerName;")

rows = cur.fetchall()

for row in rows:
    print(row)

(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [ ]:
cur.execute("SELECT CustomerName, ContactName, Address FROM Customers WHERE Address IS NULL;")

rows = cur.fetchall()

print(len(rows))
# for row in rows:
#     print(row)

0

In [ ]:
cur.execute("SELECT CustomerName, ContactName, Address FROM Customers WHERE Address IS NOT NULL;")

rows = cur.fetchall()

print(len(rows))
for row in rows:
    print(row)

30
('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57')
('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222')
('Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312')
('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.')
('Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8')
('Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57')
('Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber')
('Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67')
('Bon app', 'Laurence Lebihans', '12, rue des Bouchers')
('Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.')
('Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus')
('Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333')
('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993')
('Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29')
('Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23')
('Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery')
('Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21')
('Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages')
('Eastern Connection', 'Ann Devon', '35 King George')
('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6')
('Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92')
('FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86')
('Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai')
('Folk och fä HB', 'Maria Larsson', 'Åkergatan 24')
('Frankenversand', 'Peter Franken', 'Berliner Platz 43')
('France restauration', 'Carine Schmitt', '54, rue Royale')
('Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34')
('Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32')
('Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23')
('Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33')

In [ ]:
cur.execute("SELECT * FROM Customers LIMIT 3;")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [ ]:
cur.execute("SELECT * FROM Customers WHERE Country='Germany' LIMIT 3;")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')

In [ ]:
import sqlite3


conn = sqlite3.connect("demo_customers.db")
cur = conn.cursor()



#  OrderDetails 테이블 생성

cur.execute("""
CREATE TABLE OrderDetails (
    OrderDetailID INTEGER PRIMARY KEY,
    OrderID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER
);
""")

order_details = [
(1,10248,11,12),(2,10248,42,10),(3,10248,72,5),
(4,10249,14,9),(5,10249,51,40),
(6,10250,41,10),(7,10250,51,35),(8,10250,65,15),
(9,10251,22,6),(10,10251,57,15),(11,10251,65,20),
(12,10252,20,40),(13,10252,33,25),(14,10252,60,40),
(15,10253,31,20),(16,10253,39,42),(17,10253,49,40),
(18,10254,24,15),(19,10254,55,21),(20,10254,74,21),
(21,10255,2,20),(22,10255,16,35),(23,10255,36,25),(24,10255,59,30),
(25,10256,53,15),(26,10256,77,12),
(27,10257,27,25),(28,10257,39,6),(29,10257,77,15),
(30,10258,2,50),(31,10258,5,65),(32,10258,32,6),
(33,10259,21,10),(34,10259,37,1),
(35,10260,41,16),(36,10260,57,50),(37,10260,62,15),(38,10260,70,21),
(39,10261,21,20),(40,10261,35,20),
(41,10262,5,12),(42,10262,7,15),(43,10262,56,2),
(44,10263,16,60),(45,10263,24,28),(46,10263,30,60),(47,10263,74,36),
(48,10264,2,35),(49,10264,41,25),
(50,10265,17,30)
]

cur.executemany("""
INSERT INTO OrderDetails
(OrderDetailID, OrderID, ProductID, Quantity)
VALUES (?, ?, ?, ?);
""", order_details)

# --------------------------------------------------
# 4️⃣ 저장 + 종료
# --------------------------------------------------
conn.commit()

OperationalError: table OrderDetails already exists

In [ ]:
cur.execute("SELECT MIN(Price) FROM Products; ")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(4.5,)

In [ ]:
cur.execute("SELECT MAX(Price) FROM Products;  ")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(123.79,)

In [ ]:
cur.execute("SELECT COUNT(*) FROM Products;")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(30,)

In [ ]:
cur.execute("SELECT AVG(PRICE) FROM Products;")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(31.838666666666665,)

In [ ]:
import sqlite3

conn = sqlite3.connect("demo_customers.db")
cur = conn.cursor()

In [ ]:
cur.execute("SELECT SUM(Quantity) FROM OrderDetails;")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(1201,)

In [ ]:
cur.execute("SELECT * FROM Customers WHERE CustomerName LIKE 'a%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [3]:
cur.execute("SELECT * FROM Customers WHERE CustomerName LIKE '%a';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [4]:
cur.execute("SELECT * FROM Customers WHERE CustomerName LIKE '%or%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [5]:
cur.execute("SELECT * FROM Customers WHERE CustomerName LIKE '_r%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')

In [6]:
cur.execute("SELECT * FROM Customers WHERE ContactName LIKE 'a%o';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [7]:
cur.execute("SELECT * FROM Customers WHERE ContactName LIKE 'a%o';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [ ]:
cur.execute("SELECT * FROM Customers WHERE CustomerName NOT LIKE 'a%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

In [9]:
cur.execute("SELECT * FROM Customers WHERE City LIKE 'ber%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')

In [10]:
cur.execute("SELECT * FROM Customers WHERE City LIKE '_ondon';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [11]:
cur.execute("SELECT * FROM Customers WHERE City LIKE '_ondon';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [17]:
cur.execute("SELECT * FROM Customers WHERE CustomerName LIKE 'b%';")

rows = cur.fetchall()

# print(len(rows))
for row in rows:
    print(row)

(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')

In [21]:
cur.execute("SELECT * FROM Customers WHERE City LIKE '[!b]%';")

rows = cur.fetchall()


for row in rows:
    print(row)

In [22]:
cur.execute("SELECT * FROM Customers WHERE Country IN ('Germany', 'France', 'UK');")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')

In [24]:
import sqlite3

DB_PATH = r"C:\Users\lukas\Desktop\따오기\DE_7th\W1\M2\demo_customers.db"

orders_rows = [
    (10248, 90, 5, "1996-07-04", 3),
    (10249, 81, 6, "1996-07-05", 1),
    (10250, 34, 4, "1996-07-08", 2),
    (10251, 84, 3, "1996-07-08", 1),
    (10252, 76, 4, "1996-07-09", 2),
    (10253, 34, 3, "1996-07-10", 2),
    (10254, 14, 5, "1996-07-11", 2),
    (10255, 68, 9, "1996-07-12", 3),
    (10256, 88, 3, "1996-07-15", 2),
    (10257, 35, 4, "1996-07-16", 3),
    (10258, 20, 1, "1996-07-17", 1),
    (10259, 13, 4, "1996-07-18", 3),
    (10260, 55, 4, "1996-07-19", 1),
    (10261, 61, 4, "1996-07-19", 2),
    (10262, 65, 8, "1996-07-22", 3),
    (10263, 20, 9, "1996-07-23", 3),
    (10264, 24, 6, "1996-07-24", 3),
    (10265, 7, 2, "1996-07-25", 1),
    (10266, 87, 3, "1996-07-26", 3),
    (10267, 25, 4, "1996-07-29", 1),
    (10268, 33, 8, "1996-07-30", 3),
    (10269, 89, 5, "1996-07-31", 1),
    (10270, 87, 1, "1996-08-01", 1),
    (10271, 75, 6, "1996-08-01", 2),
    (10272, 65, 6, "1996-08-02", 2),
    (10273, 63, 3, "1996-08-05", 3),
    (10274, 85, 6, "1996-08-06", 1),
    (10275, 49, 1, "1996-08-07", 1),
    (10276, 80, 8, "1996-08-08", 3),
    (10277, 52, 2, "1996-08-09", 3),
    (10278, 5, 8, "1996-08-12", 2),
    (10279, 44, 8, "1996-08-13", 2),
    (10280, 5, 2, "1996-08-14", 1),
    (10281, 69, 4, "1996-08-14", 1),
    (10282, 69, 4, "1996-08-15", 1),
    (10283, 46, 3, "1996-08-16", 3),
    (10284, 44, 4, "1996-08-19", 1),
    (10285, 63, 1, "1996-08-20", 2),
    (10286, 63, 8, "1996-08-21", 3),
    (10287, 67, 8, "1996-08-22", 3),
    (10288, 66, 4, "1996-08-23", 1),
    (10289, 11, 7, "1996-08-26", 3),
    (10290, 15, 8, "1996-08-27", 1),
    (10291, 61, 6, "1996-08-27", 2),
    (10292, 81, 1, "1996-08-28", 2),
    (10293, 80, 1, "1996-08-29", 3),
    (10294, 65, 4, "1996-08-30", 2),
    (10295, 85, 2, "1996-09-02", 2),
    (10296, 46, 6, "1996-09-03", 1),
    (10297, 7, 5, "1996-09-04", 2),
    (10298, 37, 6, "1996-09-05", 2),
    (10299, 67, 4, "1996-09-06", 2),
    (10300, 49, 2, "1996-09-09", 2),
    (10301, 86, 8, "1996-09-09", 2),
    (10302, 76, 4, "1996-09-10", 2),
    (10303, 30, 7, "1996-09-11", 2),
    (10304, 80, 1, "1996-09-12", 2),
    (10305, 55, 8, "1996-09-13", 3),
    (10306, 69, 1, "1996-09-16", 3),
    (10307, 48, 2, "1996-09-17", 2),
    (10308, 2, 7, "1996-09-18", 3),
    (10309, 37, 3, "1996-09-19", 1),
    (10310, 77, 8, "1996-09-20", 2),
    (10311, 18, 1, "1996-09-20", 3),
    (10312, 86, 2, "1996-09-23", 2),
    (10313, 63, 2, "1996-09-24", 2),
    (10314, 65, 1, "1996-09-25", 2),
    (10315, 38, 4, "1996-09-26", 2),
    (10316, 65, 1, "1996-09-27", 3),
    (10317, 48, 6, "1996-09-30", 1),
    (10318, 38, 8, "1996-10-01", 2),
    (10319, 80, 7, "1996-10-02", 3),
    (10320, 87, 5, "1996-10-03", 3),
    (10321, 38, 3, "1996-10-03", 2),
    (10322, 58, 7, "1996-10-04", 3),
    (10323, 39, 4, "1996-10-07", 1),
    (10324, 71, 9, "1996-10-08", 1),
    (10325, 39, 1, "1996-10-09", 3),
    (10326, 8, 4, "1996-10-10", 2),
    (10327, 24, 2, "1996-10-11", 1),
    (10328, 28, 4, "1996-10-14", 3),
    (10329, 75, 4, "1996-10-15", 2),
    (10330, 46, 3, "1996-10-16", 1),
    (10331, 9, 9, "1996-10-16", 1),
    (10332, 51, 3, "1996-10-17", 2),
    (10333, 87, 5, "1996-10-18", 3),
    (10334, 84, 8, "1996-10-21", 2),
    (10335, 37, 7, "1996-10-22", 2),
    (10336, 60, 7, "1996-10-23", 2),
    (10337, 25, 4, "1996-10-24", 3),
    (10338, 55, 4, "1996-10-25", 3),
    (10339, 51, 2, "1996-10-28", 2),
    (10340, 9, 1, "1996-10-29", 3),
    (10341, 73, 7, "1996-10-29", 3),
]

def main():
    conn = sqlite3.connect(DB_PATH)
    try:
        cur = conn.cursor()

        # 1) Orders 테이블 없으면 생성 (필요시 스키마 맞춰 수정)
        cur.execute("""
        CREATE TABLE IF NOT EXISTS Orders (
            OrderID     INTEGER PRIMARY KEY,
            CustomerID  INTEGER NOT NULL,
            EmployeeID  INTEGER NOT NULL,
            OrderDate   TEXT    NOT NULL,   -- YYYY-MM-DD
            ShipperID   INTEGER NOT NULL
        );
        """)

        # 2) UPSERT: OrderID가 이미 있으면 UPDATE, 없으면 INSERT
        cur.executemany("""
        INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, ShipperID)
        VALUES (?, ?, ?, ?, ?)
        ON CONFLICT(OrderID) DO UPDATE SET
            CustomerID = excluded.CustomerID,
            EmployeeID = excluded.EmployeeID,
            OrderDate  = excluded.OrderDate,
            ShipperID  = excluded.ShipperID;
        """, orders_rows)

        conn.commit()

        # 3) 확인 출력 (선택)
        cur.execute("SELECT COUNT(*) FROM Orders;")
        (cnt,) = cur.fetchone()
        print(f"[OK] Orders rows = {cnt}")

    finally:
        conn.close()

if __name__ == "__main__":
    main()

[OK] Orders rows = 94

In [25]:
cur.execute("SELECT * FROM Customers WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')

In [26]:
cur.execute("SELECT * FROM Products WHERE Price BETWEEN 10 AND 20;")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(21, 'Sir Rodneys Scones', 8, 3, '24 pkgs. x 4 pieces', 10.0)
(25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14.0)

In [27]:
cur.execute("SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20;")

rows = cur.fetchall()


for row in rows:
    print(row)

(4, 'Chef Antons Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.0)
(5, 'Chef Antons Gumbo Mix', 2, 2, '36 boxes', 21.35)
(6, 'Grandmas Boysenberry Spread', 3, 2, '12 - 8 oz jars', 25.0)
(7, 'Uncle Bobs Organic Dried Pears', 3, 7, '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31.0)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38.0)
(13, 'Konbu', 6, 8, '2 kg box', 6.0)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25)
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5)
(19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2)
(20, 'Sir Rodneys Marmalade', 8, 3, '30 gift boxes', 81.0)
(22, 'Gustafs Knäckebröd', 9, 5, '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9.0)
(24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5)
(26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9)
(28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6)
(29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79)
(30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89)

In [28]:
cur.execute("SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 AND CategoryID IN (1,2,3);")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(21, 'Sir Rodneys Scones', 8, 3, '24 pkgs. x 4 pieces', 10.0)
(25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14.0)

In [29]:
cur.execute("SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 AND CategoryID IN (1,2,3);")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(21, 'Sir Rodneys Scones', 8, 3, '24 pkgs. x 4 pieces', 10.0)
(25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14.0)

In [30]:
cur.execute("SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni' ORDER BY ProductName;")

rows = cur.fetchall()


for row in rows:
    print(row)

(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(4, 'Chef Antons Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.0)
(5, 'Chef Antons Gumbo Mix', 2, 2, '36 boxes', 21.35)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(6, 'Grandmas Boysenberry Spread', 3, 2, '12 - 8 oz jars', 25.0)
(24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5)
(26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23)
(22, 'Gustafs Knäckebröd', 9, 5, '24 - 500 g pkgs.', 21.0)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31.0)
(13, 'Konbu', 6, 8, '2 kg box', 6.0)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97.0)

In [31]:
cur.execute("SELECT * FROM Products WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni' ORDER BY ProductName;")

rows = cur.fetchall()


for row in rows:
    print(row)

(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)
(30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40.0)
(25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14.0)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38.0)
(28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6)
(27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9)
(20, 'Sir Rodneys Marmalade', 8, 3, '30 gift boxes', 81.0)
(21, 'Sir Rodneys Scones', 8, 3, '24 pkgs. x 4 pieces', 10.0)
(19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2)
(29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25)
(23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9.0)
(7, 'Uncle Bobs Organic Dried Pears', 3, 7, '12 - 1 lb pkgs.', 30.0)

In [32]:
cur.execute("SELECT CustomerID AS ID, CustomerName AS Customer FROM Customers;")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Alfreds Futterkiste')
(2, 'Ana Trujillo Emparedados y helados')
(3, 'Antonio Moreno Taquería')
(4, 'Around the Horn')
(5, 'Berglunds snabbköp')
(6, 'Blauer See Delikatessen')
(7, 'Blondel père et fils')
(8, 'Bólido Comidas preparadas')
(9, 'Bon app')
(10, 'Bottom-Dollar Marketse')
(11, 'Bs Beverages')
(12, 'Cactus Comidas para llevar')
(13, 'Centro comercial Moctezuma')
(14, 'Chop-suey Chinese')
(15, 'Comércio Mineiro')
(16, 'Consolidated Holdings')
(17, 'Drachenblut Delikatessend')
(18, 'Du monde entier')
(19, 'Eastern Connection')
(20, 'Ernst Handel')
(21, 'Familia Arquibaldo')
(22, 'FISSA Fabrica Inter. Salchichas S.A.')
(23, 'Folies gourmandes')
(24, 'Folk och fä HB')
(25, 'Frankenversand')
(26, 'France restauration')
(27, 'Franchi S.p.A.')
(28, 'Furia Bacalhau e Frutos do Mar')
(29, 'Galería del gastrónomo')
(30, 'Godos Cocina Típica')

In [33]:
cur.execute("SELECT CustomerName AS Customer, ContactName AS [Contact Person] FROM Customers;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Alfreds Futterkiste', 'Maria Anders')
('Ana Trujillo Emparedados y helados', 'Ana Trujillo')
('Antonio Moreno Taquería', 'Antonio Moreno')
('Around the Horn', 'Thomas Hardy')
('Berglunds snabbköp', 'Christina Berglund')
('Blauer See Delikatessen', 'Hanna Moos')
('Blondel père et fils', 'Frédérique Citeaux')
('Bólido Comidas preparadas', 'Martín Sommer')
('Bon app', 'Laurence Lebihans')
('Bottom-Dollar Marketse', 'Elizabeth Lincoln')
('Bs Beverages', 'Victoria Ashworth')
('Cactus Comidas para llevar', 'Patricio Simpson')
('Centro comercial Moctezuma', 'Francisco Chang')
('Chop-suey Chinese', 'Yang Wang')
('Comércio Mineiro', 'Pedro Afonso')
('Consolidated Holdings', 'Elizabeth Brown')
('Drachenblut Delikatessend', 'Sven Ottlieb')
('Du monde entier', 'Janine Labrune')
('Eastern Connection', 'Ann Devon')
('Ernst Handel', 'Roland Mendel')
('Familia Arquibaldo', 'Aria Cruz')
('FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel')
('Folies gourmandes', 'Martine Rancé')
('Folk och fä HB', 'Maria Larsson')
('Frankenversand', 'Peter Franken')
('France restauration', 'Carine Schmitt')
('Franchi S.p.A.', 'Paolo Accorti')
('Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez')
('Galería del gastrónomo', 'Eduardo Saavedra')
('Godos Cocina Típica', 'José Pedro Freyre')

In [34]:
cur.execute("SELECT o.OrderID, o.OrderDate, c.CustomerName FROM Customers AS c, Orders AS o WHERE c.CustomerName='Around the Horn' AND c.CustomerID=o.CustomerID;")

rows = cur.fetchall()


for row in rows:
    print(row)

In [35]:
cur.execute("SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;")

rows = cur.fetchall()


for row in rows:
    print(row)

(10254, 'Chop-suey Chinese')
(10258, 'Ernst Handel')
(10259, 'Centro comercial Moctezuma')
(10263, 'Ernst Handel')
(10264, 'Folk och fä HB')
(10265, 'Blondel père et fils')
(10267, 'Frankenversand')
(10278, 'Berglunds snabbköp')
(10280, 'Berglunds snabbköp')
(10289, 'Bs Beverages')
(10290, 'Comércio Mineiro')
(10297, 'Blondel père et fils')
(10303, 'Godos Cocina Típica')
(10308, 'Ana Trujillo Emparedados y helados')
(10311, 'Du monde entier')
(10326, 'Bólido Comidas preparadas')
(10327, 'Folk och fä HB')
(10328, 'Furia Bacalhau e Frutos do Mar')
(10331, 'Bon app')
(10337, 'Frankenversand')
(10340, 'Bon app')

In [36]:
cur.execute("SELECT Customers.CustomerName, Orders.OrderID FROM Customers LEFT JOIN Orders ON Customers.CustomerID=Orders.CustomerID ORDER BY Customers.CustomerName;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Alfreds Futterkiste', None)
('Ana Trujillo Emparedados y helados', 10308)
('Antonio Moreno Taquería', None)
('Around the Horn', None)
('Berglunds snabbköp', 10278)
('Berglunds snabbköp', 10280)
('Blauer See Delikatessen', None)
('Blondel père et fils', 10265)
('Blondel père et fils', 10297)
('Bon app', 10331)
('Bon app', 10340)
('Bottom-Dollar Marketse', None)
('Bs Beverages', 10289)
('Bólido Comidas preparadas', 10326)
('Cactus Comidas para llevar', None)
('Centro comercial Moctezuma', 10259)
('Chop-suey Chinese', 10254)
('Comércio Mineiro', 10290)
('Consolidated Holdings', None)
('Drachenblut Delikatessend', None)
('Du monde entier', 10311)
('Eastern Connection', None)
('Ernst Handel', 10258)
('Ernst Handel', 10263)
('FISSA Fabrica Inter. Salchichas S.A.', None)
('Familia Arquibaldo', None)
('Folies gourmandes', None)
('Folk och fä HB', 10264)
('Folk och fä HB', 10327)
('France restauration', None)
('Franchi S.p.A.', None)
('Frankenversand', 10267)
('Frankenversand', 10337)
('Furia Bacalhau e Frutos do Mar', 10328)
('Galería del gastrónomo', None)
('Godos Cocina Típica', 10303)

## SQLite에서는 RIGHT JOIN을 지원하지 않음

In [37]:
cur.execute("SELECT Orders.OrderID, Employees.LastName, Employees.FirstName FROM Orders RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID ORDER BY Orders.OrderID;")

rows = cur.fetchall()


for row in rows:
    print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [ ]:
cur.execute("SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City FROM Customers A, Customers B WHERE A.CustomerID <> B.CustomerID AND A.City = B.City ORDER BY A.City;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Around the Horn', 'Bs Beverages', 'London')
('Around the Horn', 'Consolidated Holdings', 'London')
('Around the Horn', 'Eastern Connection', 'London')
('Bs Beverages', 'Around the Horn', 'London')
('Bs Beverages', 'Consolidated Holdings', 'London')
('Bs Beverages', 'Eastern Connection', 'London')
('Consolidated Holdings', 'Around the Horn', 'London')
('Consolidated Holdings', 'Bs Beverages', 'London')
('Consolidated Holdings', 'Eastern Connection', 'London')
('Eastern Connection', 'Around the Horn', 'London')
('Eastern Connection', 'Bs Beverages', 'London')
('Eastern Connection', 'Consolidated Holdings', 'London')
('Bólido Comidas preparadas', 'FISSA Fabrica Inter. Salchichas S.A.', 'Madrid')
('FISSA Fabrica Inter. Salchichas S.A.', 'Bólido Comidas preparadas', 'Madrid')
('Ana Trujillo Emparedados y helados', 'Antonio Moreno Taquería', 'México D.F.')
('Ana Trujillo Emparedados y helados', 'Centro comercial Moctezuma', 'México D.F.')
('Antonio Moreno Taquería', 'Ana Trujillo Emparedados y helados', 'México D.F.')
('Antonio Moreno Taquería', 'Centro comercial Moctezuma', 'México D.F.')
('Centro comercial Moctezuma', 'Ana Trujillo Emparedados y helados', 'México D.F.')
('Centro comercial Moctezuma', 'Antonio Moreno Taquería', 'México D.F.')
('Du monde entier', 'France restauration', 'Nantes')
('France restauration', 'Du monde entier', 'Nantes')
('Comércio Mineiro', 'Familia Arquibaldo', 'São Paulo')
('Familia Arquibaldo', 'Comércio Mineiro', 'São Paulo')

In [ ]:
import sqlite3

DB_PATH = r"C:\Users\lukas\Desktop\따오기\DE_7th\W1\M2\demo_customers.db"

suppliers_rows = [
    (1,  "Exotic Liquid", "Charlotte Cooper", "49 Gilbert St.", "Londona", "EC1 4SD", "UK", "(171) 555-2222"),
    (2,  "New Orleans Cajun Delights", "Shelley Burke", "P.O. Box 78934", "New Orleans", "70117", "USA", "(100) 555-4822"),
    (3,  "Grandma Kellys Homestead", "Regina Murphy", "707 Oxford Rd.", "Ann Arbor", "48104", "USA", "(313) 555-5735"),
    (4,  "Tokyo Traders", "Yoshi Nagase", "9-8 Sekimai Musashino-shi", "Tokyo", "100", "Japan", "(03) 3555-5011"),
    (5,  "Cooperativa de Quesos Las Cabras", "Antonio del Valle Saavedra", "Calle del Rosal 4", "Oviedo", "33007", "Spain", "(98) 598 76 54"),
    (6,  "Mayumis", "Mayumi Ohno", "92 Setsuko Chuo-ku", "Osaka", "545", "Japan", "(06) 431-7877"),
    (7,  "Pavlova, Ltd.", "Ian Devling", "74 Rose St. Moonie Ponds", "Melbourne", "3058", "Australia", "(03) 444-2343"),
    (8,  "Specialty Biscuits, Ltd.", "Peter Wilson", "29 Kings Way", "Manchester", "M14 GSD", "UK", "(161) 555-4448"),
    (9,  "PB Knäckebröd AB", "Lars Peterson", "Kaloadagatan 13", "Göteborg", "S-345 67", "Sweden", "031-987 65 43"),
    (10, "Refrescos Americanas LTDA", "Carlos Diaz", "Av. das Americanas 12.890", "São Paulo", "5442", "Brazil", "(11) 555 4640"),
    (11, "Heli Süßwaren GmbH & Co. KG", "Petra Winkler", "Tiergartenstraße 5", "Berlin", "10785", "Germany", "(010) 9984510"),
    (12, "Plutzer Lebensmittelgroßmärkte AG", "Martin Bein", "Bogenallee 51", "Frankfurt", "60439", "Germany", "(069) 992755"),
    (13, "Nord-Ost-Fisch Handelsgesellschaft mbH", "Sven Petersen", "Frahmredder 112a", "Cuxhaven", "27478", "Germany", "(04721) 8713"),
    (14, "Formaggi Fortini s.r.l.", "Elio Rossi", "Viale Dante, 75", "Ravenna", "48100", "Italy", "(0544) 60323"),
    (15, "Norske Meierier", "Beate Vileid", "Hatlevegen 5", "Sandvika", "1320", "Norway", "(0)2-953010"),
    (16, "Bigfoot Breweries", "Cheryl Saylor", "3400 - 8th Avenue Suite 210", "Bend", "97101", "USA", "(503) 555-9931"),
    (17, "Svensk Sjöföda AB", "Michael Björn", "Brovallavägen 231", "Stockholm", "S-123 45", "Sweden", "08-123 45 67"),
    (18, "Aux joyeux ecclésiastiques", "Guylène Nodier", "203, Rue des Francs-Bourgeois", "Paris", "75004", "France", "(1) 03.83.00.68"),
    (19, "New England Seafood Cannery", "Robb Merchant", "Order Processing Dept. 2100 Paul Revere Blvd.", "Boston", "02134", "USA", "(617) 555-3267"),
    (20, "Leka Trading", "Chandra Leka", "471 Serangoon Loop, Suite #402", "Singapore", "0512", "Singapore", "555-8787"),
    (21, "Lyngbysild", "Niels Petersen", "Lyngbysild Fiskebakken 10", "Lyngby", "2800", "Denmark", "43844108"),
    (22, "Zaanse Snoepfabriek", "Dirk Luchte", "Verkoop Rijnweg 22", "Zaandam", "9999 ZZ", "Netherlands", "(12345) 1212"),
    (23, "Karkki Oy", "Anne Heikkonen", "Valtakatu 12", "Lappeenranta", "53120", "Finland", "(953) 10956"),
    (24, "Gday, Mate", "Wendy Mackenzie", "170 Prince Edward Parade Hunters Hill", "Sydney", "2042", "Australia", "(02) 555-5914"),
    (25, "Ma Maison", "Jean-Guy Lauzon", "2960 Rue St. Laurent", "Montréal", "H1J 1C3", "Canada", "(514) 555-9022"),
    (26, "Pasta Buttini s.r.l.", "Giovanni Giudici", "Via dei Gelsomini, 153", "Salerno", "84100", "Italy", "(089) 6547665"),
    (27, "Escargots Nouveaux", "Marie Delamare", "22, rue H. Voiron", "Montceau", "71300", "France", "85.57.00.07"),
    (28, "Gai pâturage", "Eliane Noz", "Bat. B 3, rue des Alpes", "Annecy", "74000", "France", "38.76.98.06"),
    
]

def main():
    conn = sqlite3.connect(DB_PATH)
    try:
        cur = conn.cursor()

        # 1) 테이블 생성
        cur.execute("""
        CREATE TABLE IF NOT EXISTS Suppliers (
            SupplierID   INTEGER PRIMARY KEY,
            SupplierName TEXT NOT NULL,
            ContactName  TEXT,
            Address      TEXT,
            City         TEXT,
            PostalCode   TEXT,
            Country      TEXT,
            Phone        TEXT
        );
        """)

        # 2) UPSERT
        cur.executemany("""
        INSERT INTO Suppliers (
            SupplierID, SupplierName, ContactName, Address, City, PostalCode, Country, Phone
        )
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
        ON CONFLICT(SupplierID) DO UPDATE SET
            SupplierName = excluded.SupplierName,
            ContactName  = excluded.ContactName,
            Address      = excluded.Address,
            City         = excluded.City,
            PostalCode   = excluded.PostalCode,
            Country      = excluded.Country,
            Phone        = excluded.Phone;
        """, suppliers_rows)

        conn.commit()

        # 3) 확인
        cur.execute("SELECT COUNT(*) FROM Suppliers;")
        (cnt,) = cur.fetchone()
        print(f"[OK] Suppliers rows = {cnt}")

    finally:
        conn.close()

if __name__ == "__main__":
    main()

[OK] Suppliers rows = 28

In [41]:
cur.execute("SELECT City FROM Customers UNION SELECT City FROM Suppliers ORDER BY City;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Aachen',)
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Bend',)
('Berlin',)
('Bern',)
('Boston',)
('Bräcke',)
('Buenos Aires',)
('Cuxhaven',)
('Frankfurt',)
('Graz',)
('Göteborg',)
('Lappeenranta',)
('Lille',)
('Lisboa',)
('London',)
('Londona',)
('Luleå',)
('Lyngby',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('Montceau',)
('Montréal',)
('México D.F.',)
('München',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Salerno',)
('Sandvika',)
('Sevilla',)
('Singapore',)
('Stockholm',)
('Strasbourg',)
('Sydney',)
('São Paulo',)
('Tokyo',)
('Torino',)
('Tsawassen',)
('Zaandam',)

In [42]:
cur.execute("SELECT City FROM Customers UNION ALL SELECT City FROM Suppliers ORDER BY City;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Aachen',)
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Bend',)
('Berlin',)
('Berlin',)
('Bern',)
('Boston',)
('Bräcke',)
('Buenos Aires',)
('Cuxhaven',)
('Frankfurt',)
('Graz',)
('Göteborg',)
('Lappeenranta',)
('Lille',)
('Lisboa',)
('London',)
('London',)
('London',)
('London',)
('Londona',)
('Luleå',)
('Lyngby',)
('Madrid',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('Montceau',)
('Montréal',)
('México D.F.',)
('México D.F.',)
('México D.F.',)
('München',)
('Nantes',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Salerno',)
('Sandvika',)
('Sevilla',)
('Singapore',)
('Stockholm',)
('Strasbourg',)
('Sydney',)
('São Paulo',)
('São Paulo',)
('São Paulo',)
('Tokyo',)
('Torino',)
('Tsawassen',)
('Zaandam',)

In [44]:
cur.execute( "SELECT City, Country FROM Customers WHERE Country='Germany' UNION SELECT City, Country FROM Suppliers WHERE Country='Germany' ORDER BY City;")

rows = cur.fetchall()


for row in rows:
    print(row)

('Aachen', 'Germany')
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Mannheim', 'Germany')
('München', 'Germany')

In [ ]:
cur.execute( """SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;
""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Aachen', 'Germany')
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Mannheim', 'Germany')
('München', 'Germany')

In [ ]:
cur.execute( """SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION ALL
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;

""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Aachen', 'Germany')
('Berlin', 'Germany')
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Mannheim', 'Germany')
('München', 'Germany')

In [47]:
cur.execute( """SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;

""")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Argentina')
(1, 'Austria')
(2, 'Brazil')
(1, 'Canada')
(5, 'France')
(4, 'Germany')
(1, 'Italy')
(3, 'Mexico')
(1, 'Portugal')
(4, 'Spain')
(2, 'Sweden')
(1, 'Switzerland')
(4, 'UK')

In [48]:
cur.execute( """SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;


""")

rows = cur.fetchall()


for row in rows:
    print(row)

(5, 'France')
(4, 'UK')
(4, 'Spain')
(4, 'Germany')
(3, 'Mexico')
(2, 'Sweden')
(2, 'Brazil')
(1, 'Switzerland')
(1, 'Portugal')
(1, 'Italy')
(1, 'Canada')
(1, 'Austria')
(1, 'Argentina')

In [51]:
import sqlite3

DB_PATH = r"C:\Users\lukas\Desktop\따오기\DE_7th\W1\M2\demo_customers.db"

shippers_rows = [
    (1, "Speedy Express", "(503) 555-9831"),
    (2, "United Package", "(503) 555-3199"),
    (3, "Federal Shipping", "(503) 555-9931"),
]

def main():
    conn = sqlite3.connect(DB_PATH)
    try:
        cur = conn.cursor()

        # 1) Shippers 테이블 생성
        cur.execute("""
        CREATE TABLE IF NOT EXISTS Shippers (
            ShipperID   INTEGER PRIMARY KEY,
            ShipperName TEXT NOT NULL,
            Phone       TEXT
        );
        """)

        # 2) UPSERT
        cur.executemany("""
        INSERT INTO Shippers (ShipperID, ShipperName, Phone)
        VALUES (?, ?, ?)
        ON CONFLICT(ShipperID) DO UPDATE SET
            ShipperName = excluded.ShipperName,
            Phone       = excluded.Phone;
        """, shippers_rows)

        conn.commit()

        # 3) 확인 출력
        cur.execute("SELECT COUNT(*) FROM Shippers;")
        (cnt,) = cur.fetchone()
        print(f"[OK] Shippers rows = {cnt}")

    finally:
        conn.close()

if __name__ == "__main__":
    main()

[OK] Shippers rows = 3

In [52]:
cur.execute( """SELECT Shippers.ShipperName,COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;


""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Federal Shipping', 32)
('Speedy Express', 24)
('United Package', 38)

In [56]:
cur.execute( """SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 2;



""")

rows = cur.fetchall()


for row in rows:
    print(row)

(5, 'France')
(4, 'Germany')
(3, 'Mexico')
(4, 'Spain')
(4, 'UK')

In [55]:
cur.execute( """SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 2
ORDER BY COUNT(CustomerID) DESC;



""")

rows = cur.fetchall()


for row in rows:
    print(row)

(5, 'France')
(4, 'UK')
(4, 'Spain')
(4, 'Germany')
(3, 'Mexico')

In [57]:
cur.execute( """SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);



""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Exotic Liquid',)
('Mayumis',)
('Pavlova, Ltd.',)
('Specialty Biscuits, Ltd.',)
('PB Knäckebröd AB',)
('Refrescos Americanas LTDA',)
('Heli Süßwaren GmbH & Co. KG',)

## SQlite는 ANY를 지원하지 않음

In [ ]:
cur.execute( """SELECT ProductName 
FROM Products
WHERE ProductID = ANY (SELECT ProductID FROM OrderDetails WHERE Quantity = 10);
roductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);



""")

rows = cur.fetchall()


for row in rows:
    print(row)

OperationalError: near "SELECT": syntax error

In [61]:
cur.execute( """SELECT ALL ProductName
FROM Products
WHERE TRUE;



""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Chais',)
('Chang',)
('Aniseed Syrup',)
('Chef Antons Cajun Seasoning',)
('Chef Antons Gumbo Mix',)
('Grandmas Boysenberry Spread',)
('Uncle Bobs Organic Dried Pears',)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)
('Carnarvon Tigers',)
('Teatime Chocolate Biscuits',)
('Sir Rodneys Marmalade',)
('Sir Rodneys Scones',)
('Gustafs Knäckebröd',)
('Tunnbröd',)
('Guaraná Fantástica',)
('NuNuCa Nuß-Nougat-Creme',)
('Gumbär Gummibärchen',)
('Schoggi Schokolade',)
('Rössle Sauerkraut',)
('Thüringer Rostbratwurst',)
('Nord-Ost Matjeshering',)

In [62]:
cur.execute( """SELECT OrderID, Quantity,
CASE WHEN Quantity > 30 THEN 'The quantity is greater than 30'
WHEN Quantity = 30 THEN 'The quantity is 30'
ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;

        



""")

rows = cur.fetchall()


for row in rows:
    print(row)

(10248, 12, 'The quantity is under 30')
(10248, 10, 'The quantity is under 30')
(10248, 5, 'The quantity is under 30')
(10249, 9, 'The quantity is under 30')
(10249, 40, 'The quantity is greater than 30')
(10250, 10, 'The quantity is under 30')
(10250, 35, 'The quantity is greater than 30')
(10250, 15, 'The quantity is under 30')
(10251, 6, 'The quantity is under 30')
(10251, 15, 'The quantity is under 30')
(10251, 20, 'The quantity is under 30')
(10252, 40, 'The quantity is greater than 30')
(10252, 25, 'The quantity is under 30')
(10252, 40, 'The quantity is greater than 30')
(10253, 20, 'The quantity is under 30')
(10253, 42, 'The quantity is greater than 30')
(10253, 40, 'The quantity is greater than 30')
(10254, 15, 'The quantity is under 30')
(10254, 21, 'The quantity is under 30')
(10254, 21, 'The quantity is under 30')
(10255, 20, 'The quantity is under 30')
(10255, 35, 'The quantity is greater than 30')
(10255, 25, 'The quantity is under 30')
(10255, 30, 'The quantity is 30')
(10256, 15, 'The quantity is under 30')
(10256, 12, 'The quantity is under 30')
(10257, 25, 'The quantity is under 30')
(10257, 6, 'The quantity is under 30')
(10257, 15, 'The quantity is under 30')
(10258, 50, 'The quantity is greater than 30')
(10258, 65, 'The quantity is greater than 30')
(10258, 6, 'The quantity is under 30')
(10259, 10, 'The quantity is under 30')
(10259, 1, 'The quantity is under 30')
(10260, 16, 'The quantity is under 30')
(10260, 50, 'The quantity is greater than 30')
(10260, 15, 'The quantity is under 30')
(10260, 21, 'The quantity is under 30')
(10261, 20, 'The quantity is under 30')
(10261, 20, 'The quantity is under 30')
(10262, 12, 'The quantity is under 30')
(10262, 15, 'The quantity is under 30')
(10262, 2, 'The quantity is under 30')
(10263, 60, 'The quantity is greater than 30')
(10263, 28, 'The quantity is under 30')
(10263, 60, 'The quantity is greater than 30')
(10263, 36, 'The quantity is greater than 30')
(10264, 35, 'The quantity is greater than 30')
(10264, 25, 'The quantity is under 30')
(10265, 30, 'The quantity is 30')

In [63]:
cur.execute( """SELECT CustomerName, City, Country FROM Customers
ORDER BY (CASE
WHEN City IS NULL THEN Country
ELSE City
END);


""")

rows = cur.fetchall()


for row in rows:
    print(row)

('Drachenblut Delikatessend', 'Aachen', 'Germany')
('Galería del gastrónomo', 'Barcelona', 'Spain')
('Alfreds Futterkiste', 'Berlin', 'Germany')
('Chop-suey Chinese', 'Bern', 'Switzerland')
('Folk och fä HB', 'Bräcke', 'Sweden')
('Cactus Comidas para llevar', 'Buenos Aires', 'Argentina')
('Ernst Handel', 'Graz', 'Austria')
('Folies gourmandes', 'Lille', 'France')
('Furia Bacalhau e Frutos do Mar', 'Lisboa', 'Portugal')
('Around the Horn', 'London', 'UK')
('Bs Beverages', 'London', 'UK')
('Consolidated Holdings', 'London', 'UK')
('Eastern Connection', 'London', 'UK')
('Berglunds snabbköp', 'Luleå', 'Sweden')
('Bólido Comidas preparadas', 'Madrid', 'Spain')
('FISSA Fabrica Inter. Salchichas S.A.', 'Madrid', 'Spain')
('Blauer See Delikatessen', 'Mannheim', 'Germany')
('Bon app', 'Marseille', 'France')
('Ana Trujillo Emparedados y helados', 'México D.F.', 'Mexico')
('Antonio Moreno Taquería', 'México D.F.', 'Mexico')
('Centro comercial Moctezuma', 'México D.F.', 'Mexico')
('Frankenversand', 'München', 'Germany')
('Du monde entier', 'Nantes', 'France')
('France restauration', 'Nantes', 'France')
('Godos Cocina Típica', 'Sevilla', 'Spain')
('Blondel père et fils', 'Strasbourg', 'France')
('Comércio Mineiro', 'São Paulo', 'Brazil')
('Familia Arquibaldo', 'São Paulo', 'Brazil')
('Franchi S.p.A.', 'Torino', 'Italy')
('Bottom-Dollar Marketse', 'Tsawassen', 'Canada')

In [65]:
cur.execute( """SELECT * FROM Customers -- WHERE City='Berlin';

        

        


""")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [66]:
cur.execute( """/*Select all the columns
of all the records
in the Customers table:*/
SELECT * FROM Customers;

        

        


""")

rows = cur.fetchall()


for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, 'Bon app', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Bs Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')